# Mission to Mars

![title](img/mars.png)

## Step 1 - Scraping

NASA Mars News

In [27]:
 # Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [28]:
 # Path to chromedriver
!which chromedriver

/c/Users/jstrawin/AppData/Local/Continuum/anaconda3/envs/PythonData/chromedriver

In [29]:
# Executable path/initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [30]:
nasa_url = 'https://mars.nasa.gov/news/'

browser.visit(nasa_url)
time.sleep(1)

In [31]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [32]:
# Collect latest News Title
news_title_list = []

for news_title in soup.find_all('div',class_="content_title"):
    news_title_list.append(news_title.find('a').text)

In [33]:
# Collect Paragraph text
para_text_list = []

for para_text in soup.find_all('div',class_="article_teaser_body"):
    para_text_list.append(para_text.text)

In [34]:
# Get news Title and Paragraph and assign to variable
news_title = news_title_list[0]

news_p = para_text_list[0]

news_dict = {"Headline": news_title,"Details": news_p}

In [35]:
print("Title:",news_title)
print("Latest News Details:",news_p)

Title: NASA Mars Mission Connects With Bosnian and Herzegovinian Town
Latest News Details: A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.

JPL Mars Space Images - Featured Image

In [39]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [40]:
browser.visit(url)
time.sleep(1)

In [41]:
 # Execute Full Image Button
full_image = browser.find_by_id('full_image')
full_image.click()

In [42]:
 # Execute More Info Button
browser.is_element_present_by_text('more info', wait_time=1)
more_info = browser.find_link_by_partial_text('more info')
more_info.click()

In [43]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [44]:
# Find the newest image
featured_image_list = []

for image in soup.find_all('div', class_="img"):
    featured_image_list.append(image.find('img').get('src'))

In [45]:
# Id feature image
feature_image = featured_image_list[0]

# Feature image url 
feature_image_url = "https://www.jpl.nasa.gov/spaceimages/images/" + feature_image

feature_image_dict = {"image": feature_image_url}

# Print url for feature image

print("Feature Image URL:", feature_image_url)

# Use splinter to click on Full Image + Do the same for More Info

Feature Image URL: https://www.jpl.nasa.gov/spaceimages/images//spaceimages/images/wallpaper/PIA03497-640x350.jpg

Mars Weather

In [47]:
# Visit URL
mars_weather_url = "https://twitter.com/marswxreport?lang=en"

browser.visit(mars_weather_url)
time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [48]:
weather_info_list = []

for weather_info in soup.find_all('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"):
    weather_info_list.append(weather_info.text)

In [49]:
latest_mars_weather = weather_info_list[0]

mars_weather_dict = {"mar_weather": latest_mars_weather }

# Print info for Latest Mars Weather
print('Latest Mars Weather:',latest_mars_weather)

Latest Mars Weather: InSight sol 292 (2019-09-22) low -101.2ºC (-150.1ºF) high -26.4ºC (-15.6ºF)
winds from the SE at 4.6 m/s (10.2 mph) gusting to 16.6 m/s (37.1 mph)
pressure at 7.40 hPapic.twitter.com/CNzfmrrN6P

In [51]:
latest_mars_weather

'InSight sol 292 (2019-09-22) low -101.2ºC (-150.1ºF) high -26.4ºC (-15.6ºF)\nwinds from the SE at 4.6 m/s (10.2 mph) gusting to 16.6 m/s (37.1 mph)\npressure at 7.40 hPapic.twitter.com/CNzfmrrN6P'

In [62]:
# Create Dataframe
mars_facts_df = pd.read_html('https://space-facts.com/mars/')[1]
mars_facts_df.columns=['description', 'value']
mars_facts_df.set_index('description', inplace=True)

mars_facts_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [63]:
# Convert to HTML

mars_facts_df_table = mars_facts_df.to_html("mars_facts_df_table.html",index=False)
mars_facts_df_dict = {"mars_facts_df": mars_facts_df_table}

In [64]:
browser.quit()